* {
  margin: 0;
  padding: 0; }

.header {
  position: fixed;
  width: 100%;
  background-color: #5fc0cd; }

.header-left {
  position: absolute;
  width: 25%;
  height: 40px;
  background-color: #55a8b3;
  margin-top: 11px;
  margin-left: 27%;
  border-radius: 7px; }

.header-left p {
  color: #fff;
  margin-top: 11px;
  text-align: center;
  font-size: 19px; }

.header-right {
  position: absolute;
  width: 23%;
  height: 40px;
  background-color: #fff;
  margin-top: 11px;
  margin-left: 50%;
  border-radius: 7px; }

.header-right p {
  color: #5fc0cd;
  font-size: 19px;
  margin-top: 10px;
  text-align: center; }

.img {
  background-image: url(images/01.jpg);
  display: block;
  background-size: 24px 21px; }

.img-top {
  float: right;
  width: 25px;
  height: 21px;
  background-position: 0 -62.7px;
  margin-top: 19px;
  margin-right: 20px; }

ul, li {
  list-style: none; }

a {
  text-decoration: none; }

.nav {
  margin-top: 25px;
  border-bottom: 1px solid #ccc;
  border-right: none;
  overflow: hidden;
  float: left;
  width: 100%;
  background-color: #fff; }

.nav ul li {
  float: left; }

.nav ul li a {
  height: 50px;
  text-align: center;
  line-height: 50px;
  display: block;
  color: #669; }

.nav li {
  width: 33%;
  height: 40px;
  font-size: 17px; }

.nav-center {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 40px; }

.nav-center-a {
  margin-top: -5px; }

.nav img {
  float: right;
  margin-top: -28px;
  margin-right: 5%; }

.nav ul li a:hover {
  background-color: #ccc;
  color: #000; }

.nav ul li ul {
  position: absolute;
  display: none;
  width: 100%; }

.nav ul li ul li {
  float: none; }

.nav ul li ul li a {
  border: 1px solid #ccc;
  background-color: #fff; }

.nav ul li:hover ul {
  display: block; }

.content {
  width: 100%;
  padding-top: 115px;
  font-size: 2px;
  overflow: hidden; }

.content li {
  padding-bottom: 6px;
  border-bottom: 1px solid #ccc; }

.content div {
  margin: 10px 5% 0 4%;
  overflow: hidden;
  width: 90%; }

.content-top {
  padding-left: 25px;
  background-image: url(images/07.jpg);
  background-repeat: no-repeat;
  height: 20px;
  background-size: 20px;
  color: #999;
  font-size: 18px; }

.navdiv-middle {
  text-overflow: ellipsis;
  padding-left: 25px;
  margin-right: 5%;
  overflow: hidden;
  font-size: 17px; }

.navdiv-middle > span {
  float: right;
  background-image: url("images/08.jpg");
  background-repeat: no-repeat;
  background-position: 100% 3px;
  background-size: 14px;
  margin-right: 18px;
  padding-right: 20px;
  color: #e63b0e;
  font-size: 18px; }

.navdiv-bottom {
  width: 100%;
  background-image: url(images/09.jpg);
  background-repeat: no-repeat;
  background-size: 15px;
  padding-left: 20px;
  color: #999;
  font-size: 18px; }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 94px;
  z-index: 1;
  text-align: center;
  font-size: 4px;
  background-color: #fff; }

.footer-left {
  color: #5fc0cd;
  font-size: 17px;
  width: 40px;
  float: left;
  margin-left: 17%;
  margin-top: 20px;
  border: none;
  background-color: #fff;
  outline: none;
  letter-spacing: 1px;
  text-indent: -4px; }

.footer-middle {
  border: none;
  outline: none; }

.footer-middle img {
  text-align: center; }

.footer-right {
  float: right;
  width: 42px;
  color: #999;
  font-size: 17px;
  margin-right: 17%;
  margin-top: 20px;
  border: none;
  background-color: #fff;
  outline: none; }

/*# sourceMappingURL=tast6-3.css.map */
